*{
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

* a{
    text-decoration: none;
}

body{
    margin: auto;
    background-color: #292929;
}

.main-container{
    min-height: 100dvh;

    display: grid;
    grid-template-rows: 
        50px
        auto
        20px;
}

.main-content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 10px;
}

/*Scrollbar table*/
body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #92929235;
}
/*
=============================================
Footer - CSS
=============================================
*/
.author-footer p{
    font-family: "Lilita One", sans-serif;
    font-size: 16px;
    color: #ddd;
    background-color: #c90e5c;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/*
=============================================
Action Title - CSS
=============================================
*/
.action-title h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    margin: auto;
    background-color: #0e5fc9;
}

.action-title p{
    font-size: 14px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    background-color: #0e81c9ea;
}

/*
=============================================
Login Form - CSS
=============================================
*/
.login-container{
    background-color: #1b1a1a80;
    padding: 20px;
    min-width: auto;
    width: 650px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 25px;

    display: grid;
    grid-template-rows:
    auto
    auto
    auto
    auto
    auto
    auto
    ;
    gap: 15px;
    justify-content: stretch;
}

.login-container .user-icon{
    width: 150px;
    height: 150px;
    margin: auto;
}

.login-container .form-group{
    margin: auto;
    width: 100%;
    display: grid;
    gap: 10px;
}

.form-group input{
    height: 35px;
    border-radius: 15px;
    padding-left: 15px;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}
.form-group input:focus{
    border: 5px solid #c90e5c;
}
.form-group label{
    padding-top: 10px;
    margin-left: 15px;
}

.login-container .rememberme{
    margin: auto;
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.login-container .submit-group{
    grid-row: 5;
    margin: auto;

    display: flex;
}

.submit-group .submitbutton{
    margin: auto;
    width: 200px;
    height: 50px;

    background-color: #0e5fc9;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 25px;
    border: #292929;
}

.login-container .register-forgot{
    margin: 20px;
    grid-row: 6;

    display: flex;
    justify-content: center;
}

/*
=============================================
Register Form - CSS
=============================================
*/
.register-container{
    background-color: #1b1a1a80;
    padding: 20px;
    min-width: auto;
    width: 650px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 25px;

    display: grid;
    grid-template-rows:
    auto
    auto
    auto
    auto
    auto
    auto
    ;
    gap: 15px;
    justify-content: stretch;
}

.register-container .user-icon{
    width: 150px;
    height: 150px;
    margin: auto;
}

.register-container .form-group{
    margin: auto;
    width: 100%;
    display: grid;
    gap: 10px;
}

.form-group input{
    height: 35px;
    border-radius: 15px;
    padding-left: 15px;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}
.form-group input:focus{
    border: 5px solid #c90e5c;
}
.form-group label{
    padding-top: 10px;
    margin-left: 15px;
}

.register-container .submit-group{
    grid-row: 5;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    gap: 40px;
}

.submit-group .submitbutton{
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 50px;

    background-color: #0e5fc9;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 25px;
    border: #292929;
    cursor: pointer;
}

.submit-group .cancelbutton{
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 50px;

    background-color: #c90e37;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 25px;
    border: #292929;
    cursor: pointer;
}

/*
================================================
Profile Edit - CSS
================================================
*/
/* PIC SECTION*/
.profile-edit-container{
    background-color: #151515a7;
    padding: 25px;
    border-radius: 30px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.pic-container{
    margin: auto;
    background-color: #22222280;
    padding: 25px;
    border-radius: 30px;
    margin-right: 10px;
    width: 40vh;
    height: 50vh;

}
.pic-section{
    margin-top: 10px;
    display: grid;
    grid-template-areas:
    'pic'
    'update';
}

.pic-section #imgpreview{
    margin-bottom: 20px;
    border: 4px solid white;
    grid-area: pic;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.updateimg-form{
    width: 75%;
    justify-self: center;
    grid-area: update;
    display: grid;
    row-gap: 5px;
}

.yesno-update{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.confirmation{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}


/*FORM SECTION*/
.form-section{
    background-color: #22222280;
    padding: 25px;
    border-radius: 30px;
    margin-right: 10px;
    width: 75vh;
    height: 50vh;
    overflow: hidden;
}
.form-section .profile-form{
    margin: 0;
    padding: 5px;
    padding-left: -5px;
    padding-right: 5px;
    display: grid;
    row-gap: 15px;
    width: 100%;
    height: 95%;

    overflow: auto;
}

.profile-form::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.profile-form::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #2f75d773;
    visibility: hidden;
}

.profile-form:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.merge-formsection{
    display: grid;
    margin: 0;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.formsection{
    display: grid;
    padding-right: 5px;
    grid-template-rows: auto auto;
}
.form-section1{
    display: grid;
    row-gap: 20px;
}

.form-section input{
    height: 35px;
    border-radius: 15px;
    padding-left: 15px;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.form-section input:focus{
    border-color: #0e5fc9;
}

.form-section select{
    height: 37px;
    border-radius: 15px;
    padding-left: 15px;
    
    color: #0e5fc9;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.form-section textarea{
    height: 85px;
    border-radius: 15px;
    padding-left: 15px;
    resize: none;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;

}

.profile-edit-container button{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 100%;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;

}

.profile-edit-container .update-button{
    background-color: #13db59;
}
.profile-edit-container .cancel-button{
    background-color: #db132e;
}
.confirmation{
    display: none;
}

.profile-edit-container .edit-img{
    background-color: #13dbb6;
    margin-bottom: 20px;
}
.profile-edit-container .browse-button{
    margin: auto;
    padding:10px 0px;
    width: 100%;
    text-align: center;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;
    background-color: #1370db;
    display: none;
}

#selectimg{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.profile-edit-container  i{
    font-size: 24px;
}

/*
==========================================
Challenge Form - CSS
==========================================
*/
.challenge-container{
    background-color: #22222280;
    padding: 25px;
    border-radius: 30px;
    margin-right: 10px;
    width: 95vh;
    height: 100vh;
    overflow: hidden;
}
.challenge-container .challenge-form{
    margin: 0;
    padding: 5px;
    padding-left: -5px;
    padding-right: 5px;
    display: grid;
    row-gap: 15px;
    width: 100%;
    height: 95%;

    overflow: auto;
}

.challenge-form::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.challenge-form::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #2f75d773;
    visibility: hidden;
}

.challenge-form:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.merge-formsection{
    display: grid;
    margin: 0;
    padding: 0 5px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    column-gap: 10px;
}

.challenge-container .formsection1{
    display: grid;
    grid-template-rows: auto auto;
}

.challenge-container input{
    height: 35px;
    border-radius: 15px;
    padding-left: 15px;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.challenge-container input:focus{
    border-color: #0e5fc9;
}

.challenge-container select{
    width: 150px;
    height: 37px;
    border-radius: 15px;
    padding-left: 15px;
    
    color: #0e5fc9;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.challenge-container textarea{
    height: 85px;
    border-radius: 15px;
    padding-left: 15px;
    resize: none;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;

}

.challenge-container button{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 100%;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;

}

.challenge-container .update-button{
    background-color: #13db59;
}
.challenge-container .cancel-button{
    background-color: #db132e;
}

.challenge-container .delete-button{
    background-color: #db132e;
    width: auto;
}
.indicate::after{
    content: " *";
    color: #c90e37;
}

.formsection #filepreview{
    margin: auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.challenge-container .browse-button{
    margin: auto;
    padding:10px 0px;
    width: 100%;
    text-align: center;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;
    background-color: #1370db;
}

#fileToUpload{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.edit-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

/*
==========================================
KPI Form - CSS
==========================================
*/
.form-container{
    background-color: #22222280;
    padding: 25px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    min-height: 60vh;
    overflow: hidden;
}

.kpi-form{
    margin: 0;
    padding: 10px;
    display: grid;
    row-gap: 15px;
    width: 100%;
    height: 95%;
    grid-template-rows: repeat(auto);
    justify-self: center;

    overflow: auto;
}

.kpi-form::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.kpi-form::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #2f75d773;
    visibility: hidden;
}

.kpi-form:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.merge-formsection{
    display: grid;
    margin: 0;
    padding: 0 5px;
    grid-template-columns: repeat(auto);
    justify-content: space-between;
    column-gap: 10px;
}
.merge-formsection-1{
    width: 70vw;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}
.formsection-1{
    display: grid;
    padding-right: 5px;
    width: 70vw;
    grid-template-rows: auto auto;
}
.merge-formsection-2{
    display: flex;
    margin: 0;
    padding: 0 5px;
    width: 70vw;
    justify-content: space-between;
    column-gap: 10px;
}
.yesno-update-1{
    display: flex;
    margin-top: 30px;
    padding: 0 5px;
    width: 70vw;
    justify-content: space-between;
    column-gap: 10px;
}


.formsection-1 h2{
    margin: 10px 0;
}

.form-container .formsection1{
    display: grid;
    grid-template-rows: auto auto;
}

.form-container input{
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.form-container input:focus{
    border-color: #0e5fc9;
}

.form-container select{
    width: 150px;
    height: 37px;
    border-radius: 15px;
    padding-left: 15px;
    
    color: #0e5fc9;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;
}

.form-container textarea{
    height: 85px;
    border-radius: 15px;
    padding-left: 15px;
    resize: none;

    color: #c90e5c;
    border: 2px solid #0e5fc9;
    background-color: #3e3c3c80;

}

.form-container button{
    margin: 0;
    padding: 10px;
    height: 50px;
    width: 100%;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;

}

.form-container .update-button{
    background-color: #13db59;
}
.form-container .cancel-button{
    background-color: #db132e;
}

.form-container .delete-button{
    background-color: #db132e;
    width: auto;
}
.indicate::after{
    content: " *";
    color: #c90e37;
}

.formsection #filepreview{
    margin: auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    overflow: hidden;
}

.form-container .browse-button{
    margin: auto;
    padding:10px 0px;
    width: 100%;
    text-align: center;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 20px;

    border-radius: 15px;
    border: #292929;
    cursor: pointer;
    background-color: #1370db;
}


@media(max-width: 500px){
    body{
        margin: auto;
        width: 100%;
        background-color: #292929;
    }
    .main-container{
        width: 100%;
        min-height: 100vh;
    }
    .main-content{
        width: 100%;
    }
    .form-container{
        background-color: #22222280;
        padding: 25px;
        border-radius: 30px;
        width: 78vw;
        margin-right: 10px;
        margin-bottom: 20px;
        min-height: 60vh;
        overflow: hidden;
    }
    
    .kpi-form{
        margin: 0;
        padding: 10px;
        display: grid;
        row-gap: 15px;
        width: 100%;
        height: 95%;
        grid-template-rows: repeat(auto);
        justify-self: center;
        font-size: 12px;
    
        overflow: auto;
    }
    
    .kpi-form::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    .kpi-form::-webkit-scrollbar-thumb{
        border-radius: .5rem;
        background-color: #2f75d773;
        visibility: hidden;
    }
    
    .kpi-form:hover::-webkit-scrollbar-thumb{
        visibility: visible;
    }
    
    .merge-formsection{
        width: 80%;
        display: grid;
        margin: 0;
        padding: 0 5px;
        grid-template-columns: repeat(auto);
        justify-content: space-between;
        column-gap: 10px;
    }
    .merge-formsection-1{
        width: 60vw;
        padding: 0 5px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(auto);
        justify-content: space-between;
    }
    .formsection-1{
        width: 30vw;
        display: grid;
        padding-right: 5px;
        grid-template-rows: auto auto;
    }
    .merge-formsection-2{
        width: 60vw;
        display: grid;
        margin: 0;
        padding: 0 5px;
        justify-content: space-between;
        column-gap: 10px;
    }
    .yesno-update-1{
        display: flex;
        margin-top: 30px;
        padding: 0 5px;
        width: 60vw;
        justify-content: space-between;
        column-gap: 10px;
    }
    
    
    .formsection-1 h2{
        font-size: 11px;
        margin: 10px 0;
    }
    
    .form-container .formsection1{
        width: 50px;
        display: grid;
        grid-template-rows: auto auto;
    }.form-container .formsection2{
        width: 20vw;
        display: grid;
        grid-template-rows: auto auto;
    }
    
    .form-container input[type=text]{
        height: 40px;
        border-radius: 15px;
        padding-left: 15px;
    
        color: #c90e5c;
        border: 2px solid #0e5fc9;
        background-color: #3e3c3c80;
    }
    .form-container input[type=number]{
        width: 100%;
        height: 30px;
        border-radius: 15px;
        padding-left: 15px;
        font-size: 12px;
    }

    
    .form-container input:focus{
        border-color: #0e5fc9;
    }
    
    .form-container select{
        width: 20vw;
        height: 34px;
        border-radius: 15px;
        padding-left: 15px;
        font-size: 12px;
        color: #0e5fc9;
        border: 2px solid #0e5fc9;
        background-color: #3e3c3c80;
    }
    
    .form-container textarea{
        height: 85px;
        border-radius: 15px;
        padding-left: 15px;
        resize: none;
    
        color: #c90e5c;
        border: 2px solid #0e5fc9;
        background-color: #3e3c3c80;
    
    }
    
    .form-container button{
        margin: 0;
        padding: 10px;
        height: 50px;
        width: 100%;
    
        font-family: "Lilita One", sans-serif;
        font-weight: 100;
        font-size: 20px;
    
        border-radius: 15px;
        border: #292929;
        cursor: pointer;
    
    }
    
    .form-container .update-button{
        background-color: #13db59;
    }
    .form-container .cancel-button{
        background-color: #db132e;
    }
    
    .form-container .delete-button{
        background-color: #db132e;
        width: auto;
    }
    .indicate::after{
        content: " *";
        color: #c90e37;
    }
    
    .formsection #filepreview{
        margin: auto;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        object-fit: cover;
        align-self: center;
        justify-self: center;
        overflow: hidden;
    }
    
    .form-container .browse-button{
        margin: auto;
        padding:10px 0px;
        width: 100%;
        text-align: center;
    
        font-family: "Lilita One", sans-serif;
        font-weight: 100;
        font-size: 20px;
    
        border-radius: 15px;
        border: #292929;
        cursor: pointer;
        background-color: #1370db;
    }
    

}